<div>
    <button (click)="generarReporte('llegadas-tardias')">Generar Reporte de Llegadas Tardías</button>
    <button (click)="generarReporte('llegadas-tempranas')">Generar Reporte de Llegadas Tempranas</button>
    <button (click)="generarReporte('salidas-tardias')">Generar Reporte de Salidas Tardías</button>
    <button (click)="generarReporte('salidas-tempranas')">Generar Reporte de Salidas Tempranas</button>
    <button (click)="generarReporte('ausencias')">Generar Reporte de Ausencias</button>
</div>

  <!-- Este no es -->